*{
    margin: 0px;
}
body{
    background-color: rgb(234, 229, 229);
}
.cabecalho{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 2;
}

.topo{
    position: absolute;
    left: 0%;
    width: 220px;
    z-index: 1;
    
}
h1{
    color: white;
    text-align: center;
    margin-top: 20px;
}
#texto-header{
    color: white;
    margin-left: 50px;
    margin-top: -23px;
}
header{
    background-color: rgb(48, 46, 46);
    width: 100%;
    height: 80px;
    position: fixed;
    top: 90px;
    z-index: 1;
}

.inicio{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    position: absolute;
    top: 200px;
    width: 100%;
    box-sizing: border-box;
    
}
h2{
    padding: 10px;
}
.paragrafos{
    max-width: 50%;
    margin: 20px auto;
}

.terminal{
    width: 30%;
}



.terminal:hover{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.macos{
    width: 50%;
    height: 80%;
}

.terminal-burro{
    overflow: hidden;
}

.terminal-burro img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.terminal-burro:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.p-macos{
    margin-top: -70px;
    color: brown;
}

.ubuntu{
    width: 45%;
}

.p-ubuntu{
    margin-top: -7px;
    color: brown;
}

.janela{
    width: 46%;
}

.p-janela{
    margin-top: -7px;
    color: brown;
}